<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stufa">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.STUFA">
        <activity android:name=".activities.AnnouncementPost"></activity>
        <activity android:name=".activities.AnnouncementBrowsing" />
        <activity android:name=".activities.FillForm" />
        <activity android:name=".activities.CreateRequest" />
        <activity android:name=".activities.CreateBooking" />
        <activity android:name=".activities.CreateQuery" />
        <activity android:name=".activities.ForgotPassword" />
        <activity android:name=".activities.CreateAccount" />
        <activity android:name=".activities.StudentHomePage" />
        <activity android:name=".activities.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>